# AWS Configuration
AWS_REGION=ap-southeast-1
AWS_ACCOUNT_ID=YOUR_ACCOUNT_ID

# IoT Configuration
IOT_ENDPOINT=your-iot-endpoint.iot.ap-southeast-1.amazonaws.com

# Database
TIMESTREAM_DB_NAME=WaterQualityDB
TIMESTREAM_TABLE_NAME=SensorReadings

# Arduino WiFi Secrets (For reference)
WIFI_SSID=YourWiFiSSID
WIFI_PASSWORD=YourWiFiPassword