# AWS SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.pyc
venv/
.pytest_cache/
.ipynb_checkpoints/

# Environment Variables & Secrets
.env
.env.*
secrets.h
*.private.key
*.cert.pem
*.public.key
/*.json
backend/settings_cache.json

# Machine Learning Artifacts & Outputs
ml_pipeline/models/*.keras
ml_pipeline/models/*.pkl
ml_pipeline/models_backup_1run/
training_results.png
*.png

# Frontend (Vite/React)
frontend/node_modules/
frontend/dist/
frontend/.eslintcache
.npm/

# Arduino & Microcontroller
build/
*.elf
*.bin

# Editors & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db

# Data & Notebooks
notebooks/
*.csv
*.ipynb

# Reports & Documents
*report*
*Report*
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx

# Local Scratch/Debug Scripts
scratch/